---
name: lint

on:
  pull_request:
  push:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.x"
          check-latest: true
      - name: Install tools
        run: |
          go install github.com/daixiang0/gci@latest
          go install mvdan.cc/gofumpt@latest
          go install honnef.co/go/tools/cmd/staticcheck@latest
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/HEAD/install.sh | sh -s -- -b "$(go env GOPATH)/bin" v2.7.1
      - name: Modules
        run: go mod download
      - name: gci
        run: gci write -s standard -s default -s blank -s dot -s "prefix(#PROJECT)" -s localmodule --skip-vendor --skip-generated $(find . -type f -name '*.go' -not -path "./pkg/api/*" -not -path "./vendor/*" -not -path "./.gocache/*" -not -path "./.git/*")
      - name: gofumpt
        run: gofumpt -l -w $(find . -type f -name '*.go' -not -path "./pkg/api/*" -not -path "./vendor/*" -not -path "./.gocache/*" -not -path "./.git/*")
      - name: staticcheck
        run: staticcheck ./...
      - name: golangci-lint
        run: golangci-lint run -v --fix ./...
