---
name: proto

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  proto:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.x"
          check-latest: true
      - name: Setup buf
        uses: bufbuild/buf-setup-action@v1
        with:
          version: "1.61.0"
      - name: Lint protos
        run: buf lint
      - name: Format protos
        run: buf format -w
      - name: Generate protos
        run: buf generate
      - name: Check diff
        run: git diff --exit-code
